[submodule "Xengine/thirdparty/spdlog"]
	path = Xengine/thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "Xengine/thirdparty/glfw"]
	path = Xengine/thirdparty/glfw
	url = git@github.com:glfw/glfw.git
	branch = master
[submodule "Xengine/thirdparty/imgui"]
	path = Xengine/thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "Xengine/thirdparty/glm"]
	path = Xengine/thirdparty/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "Xengine/thirdparty/yaml-cpp"]
	path = Xengine/thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Xengine/thirdparty/portable-file-dialogs"]
	path = Xengine/thirdparty/portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "Xengine/thirdparty/ImGuizmo"]
	path = Xengine/thirdparty/ImGuizmo
	url = git@github.com:StupidCrow-yuan/ImGuizmo.git
[submodule "Xengine/thirdparty/box2d"]
	path = Xengine/thirdparty/box2d
	url = git@github.com:StupidCrow-yuan/box2d.git
