[submodule "Xengine/thirdparty/spdlog"]
	path = Xengine/thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Xengine/thirdparty/glfw"]
	path = Xengine/thirdparty/glfw
	url = git@github.com:glfw/glfw.git
